params {
    images = [
        ubuntu:              'ubuntu:22.04',
        reset:               'quay.io/protio/percolator-reset:1224181',
        casanovo:            'quay.io/protio/casanovo:4.2.1',
        comet:               'quay.io/protio/comet:2023020-prerelease2',
        ms_denovo_db_utils:  'quay.io/protio/ms-denovo-db-utils:1.0.8',
        fasta:               'quay.io/protio/fasta:36.3.8i',
        diamond:             'mriffle/diamond:2.1.10',
        proteowizard:        'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.22335-b595b19'
    ]
}