params {

    // the data to be processed
    spectra_dir     = '/path/to/spectra'
    fasta           = '/path/to/file.fasta'
 
    // comet params to use for database search
    comet_params = './comet.params'

    // path to the weights to use for the casanovo search
    // download these, for example from:
    //  https://github.com/Noble-Lab/casanovo/releases/download/v4.0.0/casanovo_massivekb.ckpt
    casanovo_weights_file = './casanovo_massivekb.ckpt'

    // receive email when done at this address
    //email = 'your@email.com'

}

profiles {

    // params for running pipeline locally
    standard {
        params.max_memory = '16.GB'
        params.max_cpus = 8
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-teirex-dda/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
